
.table{
margin-top:50px;
width:100%;
display: table;
}

.row{
width:100%;
display:table-row-group;
}

.cell{
display: table-cell;
padding:30px 15px;
border-bottom: dashed 1px grey;
vertical-align:middle;
}

.cell1{
width:300px;
}
.cell12{
width:800px;
}

.cell2{
text-align: justify;
}

.cell3{
width:100px;
}

.img{
height: 150px;
width:266.7px;
border: 2px dotted rgba(0, 0, 0, 0.3);
background: white;
padding: 2px; 
border-radius:10px;
}
